/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*===== Colors =====*/
    --hue-color:242;

    /* HSL Color Mode */
    --skin-color: hsl(342, 92%, 46%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 19%, 5%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

    /*===== Font and Typography =====*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*===== Font Weight =====*/
    --font-medium: 500;
    --font-bold: 600;

    /*===== Margenes Bottom =====*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*===== Z Index =====*/
    --z-fixed: 10;
    --z-modal: 100;
}

/* Responsive Typography */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}
h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}
button, input {
    border: none;
    outline: none;
}
/*=============== LAYOUT ===============*/
.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 6.5rem 0 2rem;
}
.section_title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}
.section_title::before {
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--skin-color);
}


/*=============== SIDEBAR ===============*/
.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);
}

.nav_logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
}
.nav_logo-text {
    font-size: 1.125rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 40px;
}


.nav_menu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;

}

.menu {
    display: flex;
}

.nav_list {
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav_link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s;
}

.btn_share {
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    text-align: center;
}

.social_share {
    font-size: 1.5rem;
}


/* Active Link */
.nav_link.active-link, .nav_link:hover {
    color: var(--skin-color);

}

.nav_link.active-link::after, .nav_link:hover::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;

}
/*=============== MAIN ===============*/
.main {
    margin-left: 100px;
}

/*===== Home Section =====*/


.home {
    background: url('../img/home-nizam-bg1.jpeg');
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

.home_container {
    position: relative;
    height: 100%;
    align-items: center;
}

.home_social {
    position: absolute;
    top: 1.8rem;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}

.home_social-follow {
    font-weight: var(--font-medium);
    position: relative;
}

.home_social-follow::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--text-color);
    right: -45%;
    top: 50%;
}

.home_social-links {
    display: inline-flex;
    column-gap: 1rem;
}

.home_social-links {
    font-size: 1.08rem;
    color: var(--text-color);
    transition: .3s;
}

.home_social-links:hover {
    transform: translateY(.30rem);
}


.home_img {
    display: none;
}

.home_title {
    font-size: var(--biggest-font-size);
}
.home_subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.home_description {
    max-width: 450px;
    margin-bottom: var(--mb-2);
}

.my_info {
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}

.info_item {
    display: flex;
    align-items: center;
}
.info_title,
.info_subtitle {
    font-size: var(--small-font-size);
}

.info_title {
    font-weight: var(--font-medium);
}

.info_icon {
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: var(--mb-0-75);
}
/*===== Buttons =====*/
.button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    padding: .75rem 1.4rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
}

.button::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #17181c;
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: .25rem;
    transition: .3s;
}

.button:hover::after {
    transform: scale(1);
}

.button_icon {
    font-size: 1.25rem;
}

/*===== About Section =====*/

.about_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
}
.about_img {
    width: 600px;
    border-radius: 0.75rem;
    justify-self: center;
}

.about_heading {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}
.about_description {
    text-align: justify;
    padding-right: 6rem;
    margin-bottom: var(--mb-2);
}

.about_info {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    column-gap: .5rem;
    margin-bottom: var(--mb-3);
}

.about_box {
    text-align: center;
    border-radius: .25rem;
    padding: 1rem 1.25rem;
    background-color: var(--box-color);
}

.about_icon {
    font-size: 1.5rem;
    color: var(--skin-color);
    margin-bottom: var(--mb-0-75);
}
.about_title {
    font-size: var(--small-font-size);
}
.about_subtitle {
    font-size: var(--small-font-size);
}

/*===== Qualification Section =====*/
.qualification_container {
    grid-template-columns: repeat(2, 340px);
    column-gap: 3rem;
    justify-content: center;
}

.qualification_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2-5);
}

.timeline_item {
    position: relative;
    padding-left: 3rem;
    margin-bottom: var(--mb-2-5);
}
.timeline_item:last-child {
    margin-bottom: 0;

}

.timeline_item::before {
    content: '';
    width: 1px;
    position: absolute;
    left: .48rem;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);

}
.circle_dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    background-color: var(--skin-color);
    transition: .3s;
}
.timeline_item:hover .circle_dot {
    background-color: var(--body-color);
}

.timeline_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.timeline_text {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.timeline_date {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--small-font-size);
    color: var(--skin-color);
}

/*===== Skills Section =====*/

.skills_container {
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;
}

.skills_header {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.skills_header:not(:last-child) {
    margin-bottom: var(--mb-2-5);
}
.skills_icon,
.skills_arrow {
    font-size: 2rem;
    color: var(--skin-color);
}
.skills_icon {
    margin-right: var(--mb-0-75);
}
.skills_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.skills_subtitle {
    font-size: var(--small-font-size);
}
.skills_arrow {
    margin-left: auto;
}
.skills_active .skills_arrow {
    transform: rotate(-90deg);
    transition: .3s;
}
.skills [data-content] {
    display: none;
}

.skills_active[data-content] {
    display: block;
}
.skills_list {
    row-gap: 1.8rem;
}

.skills_titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}
.skills_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills_bar,
.skills_percentage {
    height: 5px;
    border-radius: .25rem;
}
.skills_bar {
    background-color: var(--box-color);
}
.skills_percentage {
    display: block;
    background-color: var(--skin-color);
}



/*===== Work Section =====*/


/* Active Item Work */


/* Portfolio Popup */


/*===== Services Section =====*/


/* Active Modal*/


/*===== Testimonial Section =====*/


/* Swiper Class */


/*===== Contact Section =====*/


/*=============== FOOTER ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== SCROLL BAR ===============*/


/*========== BREAKPOINTS ==========*/
/* For Large Devices */
@media screen and (max-width: 1408px) {}

@media screen and (max-width: 1216px) {}

@media screen and (max-width: 1024px) {}

/* For Medium Devices */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

/* For Small Devices */
@media screen and (max-width: 350px) {}
